body{

font-family:'Poppins',sans-serif;

margin:0;

background:#0c0c0c;

color:white;

text-align:center;

}


header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 60px;

background:#111;

}


.logo{

font-size:28px;

font-weight:700;

letter-spacing:3px;

}


nav a{

margin-left:25px;

text-decoration:none;

color:#f5d547;

font-weight:500;

}


.hero{

padding:120px 30px;

max-width:900px;

margin:auto;

}


.hero h1{

font-size:60px;

margin-bottom:20px;

}


.hero p{

font-size:20px;

opacity:0.85;

}


.section{

max-width:900px;

margin:auto;

padding:100px 30px;

}


.highlight{

background:#121212;

border-top:1px solid #222;

border-bottom:1px solid #222;

}


.product{

background:#151515;

padding:40px;

margin:40px 0;

border-radius:12px;

}


.primary{

display:inline-block;

margin-top:20px;

padding:14px 30px;

background:#f5d547;

color:black;

border-radius:40px;

text-decoration:none;

font-weight:600;

}


.secondary{

display:inline-block;

margin-top:20px;

padding:14px 30px;

border:2px solid #f5d547;

color:#f5d547;

border-radius:40px;

text-decoration:none;

margin-left:10px;

}


.payments p{

margin:15px 0;

}


footer{

padding:50px;

border-top:1px solid #222;

margin-top:60px;

}
